.profie {
    width: 270px;
    margin: 0 auto;
    margin-bottom: 55px;
    text-align: center;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}

.description {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
}

.name, .tag, .location {
    margin: 0;
}

.name {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.tag {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

.location {
    font-size: 16px;
    font-weight: 400;
    color: grey;
}

.statistics {
    list-style: none;
    
    display: flex;

    width: 100%;
    margin: 0;
    padding: 0;
    
    background-color: #f1f8fa;
    border-top: 1px solid #e4e9f0;
    border-radius: 0px 0px 5px 5px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
    height: 80px;

    &:not(:last-child) {
        border-right: 1px solid #e4e9f0;
    }
}

.label {
    display: block;
    margin-bottom: 5px;
    color: grey;
    font-size: 12px;
}

.quantity {
    display: block;
    font-size: 18px;
    font-weight: 600;
}

