.item {
    list-style: none;

    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    border-radius: 5px;

    &:not(:last-child) {
            margin-bottom: 12px;
        }
}

.status {
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: rgb(218, 79, 79);
}

.active {
    background-color: green;
}

.avatar {
    margin-right: 15px;
}

.name {
    font-size: 20px;
    font-weight: 600;
}