.statistics {
    margin: 0 auto;
    margin-bottom: 60px;
}

.title {
    margin: 0;
    margin-bottom: 30px;
    color: grey;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;

}

.list {
    list-style: none;

    display: flex;
    justify-content: center;
    padding-left: 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 12px;

    width: 80px;
    height: 75px;

    color: white;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;

    &:not(:last-child) {
        margin-right: 10px;
    }

    &:nth-child(5n + 1) {
        background-color: #dcbcc7;
    }

    &:nth-child(5n + 2) {
        background-color: #e6a7ba;
    }

    &:nth-child(5n + 3) {
        background-color: #e5ac86;
    }

    &:nth-child(5n + 4) {
        background-color: #e29585;
    }

    &:nth-child(5n + 5) {
        background-color: #97c0c7;
    }

}

.label {
    margin-bottom: 7px;
    font-size: 14px;
}

.percentage {
    font-size: 20px;
    font-weight: 600;

}

